
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html { overflow-y: scroll; }

.material-symbols-outlined {
    font-size: 48px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#header {
    padding-top: 20vh;
    padding-left: 10%;
    padding-right: 10%;
}

#subheader {
    margin-top: -2em;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 15px;
    color:rgb(61, 61, 61);
}

.projectHeader {
    display: inline-block;
    margin-left: 0.2em;
}

.back_arrow {
    display: inline-block;
    margin-left: -1.5em;
    transition: 0.2s;
    transform: translateY(0.05em);
    color:rgb(61, 61, 61);
}

.back_arrow:hover{
    transform: translateY(0.05em) translateX(-0.25em);
    cursor:pointer;
}

.viewProject {
    height: 3em;
    width: 10em;
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    transition: 0.2s;
    filter: drop-shadow(4px 4px 7px rgb(136, 153, 185));
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
}

.viewProject:hover {
    transform: scale(1.05);
    cursor:pointer;
}
