
body{
    margin:0;
}


#bounding
{
    margin:auto;
    width:70%;
    height:100vh;
    text-align: center;
    background-color: red;
}

#navlinks{
    padding-top: 1em;
    font-size: x-large;
    text-decoration: none;
}

#about{
}