
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

header {
    width:100%;
    height: 4%;

}


h1 {
    font-family: 'JetBrains Mono';
    color: black;
    font-size: medium;
    padding:4%;
    margin:0px;
    text-align: center;
}


body{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background: #181b1e;
    box-sizing:border-box;
}

a{
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    padding: 3.5%;
    height:50px;
    border-radius: 50px;
}

a:link{
    color:#dee2e6;
}

a:visited{
    color:#dee2e6;
}

a:hover {
    color:#dee2e6;
    background-color: #262a2f;
    border-radius: 50px;
}


.maintitle{
    position:absolute;
    width:100%;
    font-family: 'JetBrains Mono';
    background-color: #dee2e6;
    background: linear-gradient(240deg,#632980, #8053c0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-align:center;
    top:5vh;
    font-size: large;
   
}

.about{
    position:absolute;
    width:100%;
    font-family: 'JetBrains Mono';
    color: #dee2e6;
    top:15vh;
    margin-left: 3%;

    text-align: center;
}

.aboutp{
    margin-left: 2%;
    margin-right:10%;
}

.introbg{
    position: absolute;
    background-color: #262a2f;
    width:90%;
    height:50%;
    border-radius: 20px;
    top:15%;
    left:5%;
    
}